body {
	width: 700px;
}
.box {
	border: 1px solid;
	vertical-align: top;
	text-align: center;
}
.container {
	display: block;
	width: 300px;
	height: auto;
}
button {
	width: 70px;
}
p {
	margin: 5px;
}
select {
	width: 80px;
}
li {
	text-align: left;
}
.input-tag {
	width: 80px;
}
.list-header {
	text-align: left;
	font-size: 20px;
	margin: 5px;
}
.tag-header {
	text-align: left;
	font-size: 15px;
	margin: 3px;
}
.span-text {
	text-align: center;
	width: auto;
}