<!doctype html>
<html>
	<head>
		<title>PageStack</title>
		<link rel="stylesheet" type="text/css" href="popup.css" />
	</head>

	<body>
		<table>
			<tr>
				<td id="msgbox"></td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td class="container">
								<div id="chromePages" class="box"></div>
							</td>
							<td>
								<table>
									<tr><td><button id="btn_push">→ Push</button></td></tr>
									<tr><td><button id="btn_pop">Pop ↖</button></td></tr>
									<tr><td><button id="btn_reset">Reset ←</button></td></tr>
									<tr><td><button id="btn_clear">Clear</button></td></tr>
								</table>
							</td>
							<td class="container">
								<div id="stackPages" class="box"></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<!-- include *.js -->

		<!-- module -->
		<script src="../../../module/md5.js"></script>

		<!-- lib -->
		<script src="../../../lib/util.js"></script>

		<!-- MVC classes -->
		<script src="../../../Model/ModelChromePage.js"></script>
		<script src="../../../Model/ModelStackPage.js"></script>
		<script src="../../../Model/ModelStackPages.js"></script>

		<script src="../../ViewPopup.js"></script>

		<script src="../../../Controller/ControllerPopup.js"></script>

		<!-- main -->
		<script src="popup.js"></script>

	</body>

</html>